body  {
<<<<<<< HEAD
  background-image: url('food.png');
=======
  background-image: url('money_pic.png');
>>>>>>> 262029438b1a94f393d0abbda486ca44fe38e44c
  font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}